# Data Type and Structure

# Theoretical Questions And Answer

1- What are data structures, and why are they important?
- Data structures are ways to organize and store data so it can be accessed and modified efficiently (e.g., arrays, lists, stacks, queues, trees, hash tables). They are important because choosing the right structure affects time/space efficiency and the simplicity of algorithms.

2- Difference between mutable and immutable data types (with examples).
- Mutable types can be changed after creation (e.g., Python list, dict, set).
- Immutable types cannot be changed — any modification creates a new object (e.g., int, float, str, tuple).

3- Main differences between lists and tuples in Python.

- Lists are mutable, tuples are immutable.
- Lists use [], tuples use ().
- Tuples can be slightly faster and are safer for fixed collections.

4- Describe how dictionaries store data.
- Dictionaries store data as key-value pairs using a hash table (keys are hashed to find an index where the value is stored). This allows (average) O(1) lookup by key.

5- Why use a set instead of a list?
- Sets are unordered collections of unique elements — use them when you need uniqueness and fast membership tests (average O(1)), and when order or duplicates don't matter.

6- What is a string in Python, and how is it different from a list?
- A string is an immutable sequence of characters. Unlike lists (mutable, can hold mixed types), strings hold characters and cannot be changed in-place.

7-How do tuples ensure data integrity in Python?
- Because tuples are immutable, their contents cannot be changed after creation, which prevents accidental modification and can be used to represent fixed records.

8-What is a hash table, and how does it relate to dictionaries in Python?
- A hash table maps keys to buckets via a hash function. Python dictionaries are implemented using hash tables, allowing fast key-based access.

9- Can lists contain different data types in Python?
- Yes — Python lists are heterogeneous and can contain elements of different types.

10- Explain why strings are immutable in Python.
- Immutability simplifies implementation (hashing, sharing, thread-safety), and allows strings to be used as dictionary keys and cached/shared internally.

11- What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries provide fast lookup by key (average O(1)), while lists require O(n) search unless you know the index. Use dicts when you need associative mapping (key → value).

12- Scenario where tuple is preferable over list.
- When you need a fixed collection (e.g., coordinates (x, y), RGB triplet), or want to ensure data can't be modified (records, keys in dicts).

13- How do sets handle duplicate values in Python?
- Sets automatically discard duplicates; each element appears only once.

14- How does the in keyword work differently for lists and dictionaries?

- For lists: x in list checks element membership by scanning (O(n)).
- For dictionaries: key in dict checks presence of a key using the hash table (average O(1)). (To check values: x in dict.values() is O(n).)

15 -Can you modify the elements of a tuple? Explain why or why not.
- No — tuples are immutable. You cannot change, add, or remove their elements. (If a tuple contains a mutable object, that object can be mutated.)

16- What is a nested dictionary, and give an example use case.
- A nested dictionary has dictionaries as values. Example use: JSON-like data, user records: {'user1': {'age':25, 'city':'NY'}, 'user2': {...}}.

17- Describe the time complexity of accessing elements in a dictionary.
- Average-case O(1) for lookup by key. Worst-case can be O(n) under heavy hash collisions, but Python handles this well.

18- In what situations are lists preferred over dictionaries?
- When order matters (and you need indexed access), when you store sequences of items (like arrays), or when duplicates matter.

19- Why are dictionaries considered unordered, and how does that affect data retrieval?
- Historically dictionaries were unordered (no guaranteed order). From Python 3.7+, insertion order is preserved in CPython as an implementation detail and in the language spec. Conceptually dicts are mappings optimized for key lookup; retrieval is by key, not by position — you shouldn't rely on ordering for logic unless you explicitly need ordered behavior.

20- Difference between a list and a dictionary in terms of data retrieval.
- Lists: indexed retrieval by integer index (O(1) by index), membership test O(n).
Dictionaries: retrieval by key (O(1) average), membership test for keys O(1).

# Practical Questions And Answers

In [ ]:
# 1- Create a string with your name and print it

name = "Harshit"   # replace with your name
print(name)

Harshit

In [ ]:
# 2- Length of the string "Hello World"

s = "Hello World"
print(len(s))

11

In [ ]:
# 3- Slice the first 3 characters from "Python Programming"

s = "Python Programming"
print(s[:3])

Pyt

In [ ]:
# 4- Convert "hello" to uppercase

s = "hello"
print(s.upper())

HELLO

In [ ]:
# 5- Replace "apple" with "orange" in "I like apple"

s = "I like apple"
s2 = s.replace("apple", "orange")
print(s2)

I like orange

In [ ]:
# 6- Create a list with numbers 1 to 5 and print it

lst = [1, 2, 3, 4, 5]
print(lst)

[1, 2, 3, 4, 5]

In [ ]:
# 7- Append the number 10 to the list [1, 2, 3, 4]

lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [ ]:
# 8- Remove the number 3 from the list [1, 2, 3, 4, 5]

lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [ ]:
# 9- Access the second element in ['a', 'b', 'c', 'd']

lst = ['a', 'b', 'c', 'd']
print(lst[1])

b

In [ ]:
# 10- Reverse the list [10, 20, 30, 40, 50]

lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

In [ ]:
# 11- Create a tuple with 100, 200, 300 and print it

t = (100, 200, 300)
print(t)

(100, 200, 300)

In [ ]:
# 12- Access second-to-last element of ('red','green','blue','yellow')

t = ('red', 'green', 'blue', 'yellow')
print(t[-2])

blue

In [ ]:
# 13- Find the minimum number in (10, 20, 5, 15)

t = (10, 20, 5, 15)
print(min(t))

5

In [ ]:
#14- Index of "cat" in ('dog','cat','rabbit')

t = ('dog', 'cat', 'rabbit')
print(t.index('cat'))

1

In [ ]:
#15- Tuple of three fruits and check if "kiwi" is in it

fruits = ('apple', 'banana', 'mango')
print("kiwi" in fruits)

False

In [ ]:
#16- Create a set with 'a', 'b', 'c' and print it

s = {'a', 'b', 'c'}
print(s)

{'a', 'c', 'b'}

In [ ]:
#17- Clear all elements from the set {1,2,3,4,5}

s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [ ]:
#18- Remove element 4 from the set {1,2,3,4}

s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [ ]:
#19- Union of {1,2,3} and {3,4,5}

a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [ ]:
#20- Intersection of {1,2,3} and {2,3,4}

a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [ ]:
#21- Create dictionary with keys "name","age","city" and print it

person = {"name": "John", "age": 25, "city": "New York"}
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [ ]:
#22- Add "country":"USA" to {'name':'John', 'age':25}

d = {'name': 'John', 'age': 25}
d['country'] = 'USA'
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#23- Access value for "name" in {'name':'Alice','age':30}

d = {'name': 'Alice', 'age': 30}
print(d['name'])

Alice

In [ ]:
#24- Remove key "age" from {'name':'Bob','age':22,'city':'New York'}

d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop('age', None)
print(d)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#25- Check if key "city" exists in {'name':'Alice','city':'Paris'}

d = {'name': 'Alice', 'city': 'Paris'}
print('city' in d)

True

In [ ]:
#26- Create a list, a tuple, and a dictionary, and print them all

lst = [1, 2, 3]
tup = (4, 5, 6)
d = {'a': 7,'b': 8}
print(lst)
print(tup)
print(d)

[1, 2, 3]
(4, 5, 6)
{'a': 7, 'b': 8}

In [ ]:
#27- Create list of 5 random numbers between 1 and 100, sort ascending, print result

import random
lst = [random.randint(1, 100) for _ in range(5)]
lst.sort()
print(lst)

[15, 35, 55, 59, 89]

In [ ]:
#28- Create a list with strings and print the element at the third index

lst = ["zero", "one", "two", "three", "four"]
print(lst[3])

three

In [ ]:
#29- Combine two dictionaries into one and print result

d1 = {'a': 1, 'b': 2}
d2 = {'c': 3, 'd': 4}
combined = d1 | d2
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
#30- Convert a list of strings into a set

lst = ["apple", "banana", "apple", "mango"]
s = set(lst)
print(s)

{'mango', 'banana', 'apple'}